<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Galaxy Buds</string>
	<key>CFBundleExecutable</key>
	<string>BudsApp</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.nivorbit.budsapp</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>tr</string>
		<string>de</string>
		<string>fr</string>
		<string>es</string>
		<string>it</string>
		<string>pt-BR</string>
		<string>ru</string>
		<string>zh-Hans</string>
		<string>ja</string>
		<string>ko</string>
	</array>
	<key>CFBundleName</key>
	<string>Galaxy Buds</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.2</string>
	<key>CFBundleVersion</key>
	<string>3</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>BudsApp needs Bluetooth to connect to your Galaxy Buds.</string>
</dict>
</plist>
